@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
    --bg-main: #f8f9fa;
    --bg-section: #ffffff;
    --text-main: #212529;
    --text-secondary: #212529;
    --border: #dee2e6;

    --bg-nav: #f8f9fa;
    --text-nav: #212529;
    --text-hover: #ff6f61;

    --button-primary: #ff6f61;
    --button-secondary: #495057;
    --button-hover: #e85c50;

    --link: #3b82f6;
    --price: #dc3545;
    --tag: #ffc107;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "Oswald", sans-serif;
}

.navbar-custom {
    background-color: var(--bg-nav) !important;
    border-bottom: 1px solid var(--border);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

main {
    margin-top: 57px;
}
